a {
  text-decoration: none;
  color: inherit;
}
.posts-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 25px;
  color: white;
}
.post {
  display: flex;
  background-color: var(--main-bg-color);
  border-radius: 5px;
  outline: 1px solid var(--post-hover-bg-color);
}
:root.light-mode .post {
  outline: 1px solid #cccccc;
}
.upvote-column {
  background-color: var(--column-color);
  border-radius: 5px 0 0 5px;
  width: 8%;
  max-width: 8%;
  min-width: 8%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.upvote {
  background: no-repeat url(../assets/upvote.svg);
  background-size: contain;
  background-position: center center;
  width: 40px;
  height: 40px;
  margin-top: 10px;
}
.downvote {
  background: no-repeat url(../assets/downvote.svg);
  background-size: contain;
  background-position: center center;
  width: 40px;
  height: 40px;
}
.upvote-active {
  background: no-repeat url(../assets/upvote-active.svg);
  background-size: contain;
  background-position: center center;
}
.downvote-active {
  background: no-repeat url(../assets/downvote-active.svg);
  background-size: contain;
  background-position: center center;
}
.post-score {
  margin-top: 5px;
  margin-bottom: 5px;
  font-weight: bold;
}
.post-title {
  display: flex;
  gap: 10px;
  align-items: center;
}
.post-title h2 {
  font-weight: 500;
}
.post-title div {
  display: flex;
  border-radius: 10px;
  height: 1.5em;
  align-items: center;
}
.post-title div p {
  font-size: small;
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
}
:root .post-title div p {
  color: white;
}
.post-content-container {
  padding-left: 7px;
}
.post-content-info-bar {
  display: flex;
}
.post-subwettit-info {
  display: flex;
  gap: 5px;
  align-items: center;
}
.post-subwettit-image {
  width: 35px;
  height: 35px;
  border-radius: 300px;
  background-color: blueviolet;
}
.post-user-info {
  display: flex;
  margin-left: 10px;
  align-items: center;
  font-size: smaller;
  color: #7b7b7b;
}
.post-footer {
  display: flex;
  gap: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.post-footer > div {
  display: flex;
  gap: 10px;
  border-radius: 2px;
  padding-top: 5px;
  padding-bottom: 5px;
}
.post-footer > div > div {
  width: 25px;
  height: 25px;
  align-self: center;
}
.post .post-footer > div:nth-of-type(2) > div {
  background: no-repeat url(../assets/comment.svg);
  background-position: center center;
  background-size: contain;
}
.post .post-footer > div:nth-of-type(3) > div {
  background: no-repeat url(../assets/share.svg);
  background-position: center center;
  background-size: contain;
}
.post .post-footer > div:nth-of-type(4) > div {
  background: no-repeat url(../assets/bookmark.svg);
  background-position: center center;
  background-size: contain;
}
.post-footer > div > p {
  font-size: smaller;
  align-self: center;
  color: #726d6d;
  font-weight: 600;
}
.main-container:not(.classic) .post-footer > .post-fullscreen-button-container {
  display: none;
}
.main-container:not(.classic) .post-classic-miniature {
  display: none;
}
.post-content {
  display: grid;
  width: 100%;
}
.text-post .post-content {
  padding-top: 15px;
}
.main-container .post-content iframe {
  border: none;
  width: fit-content;
  height: inherit;
  justify-self: center;
}
.main-container .post-content video {
  border: none;
  width: inherit;
  height: inherit;
  justify-self: center;
}

/* animations */

.post:hover,
:root.light-mode .post:hover {
  outline: 1px solid #717375;
  cursor: pointer;
}
.upvote:hover {
  background: no-repeat url(../assets/upvote-highlight.svg);
  background-position: center center;
  background-size: contain;
  background-color: var(--vote-hover-bg-color);
  border-radius: 5px;
}
.downvote:hover {
  background: no-repeat url(../assets/downvote-highlight.svg);
  background-position: center center;
  background-size: contain;
  background-color: var(--vote-hover-bg-color);
  border-radius: 5px;
}
.downvote:active,
.upvote:active {
  background-color: #343436;
}
a:hover {
  text-decoration: underline;
}
.post-user-info span:hover {
  text-decoration: underline;
}
.post-footer > div:hover {
  background-color: var(--post-btn-hover-color);
}
