.main-container.classic .posts-container {
  gap: 2px;
}

.main-container.classic .post:not(:first-of-type) {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.main-container.classic .post {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.main-container.classic .post-footer {
  padding-bottom: 0;
  padding-top: 0;
  height: fit-content;
  grid-area: footer;
}

.main-container.classic .post .post-footer > div:nth-of-type(1) {
  display: flex;
  position: relative;
}

.main-container.classic
  .post
  .post-footer
  > div:nth-of-type(1)
  > div:nth-of-type(1) {
  align-self: center;
  width: 35px;
  height: 25px;
  background: no-repeat url(../assets/fullscreen.svg);
  background-position: center center;
  background-size: contain;
}

.main-container.classic
  .post
  .post-footer
  > div:nth-of-type(1)
  > div:nth-of-type(2) {
  position: absolute;
  left: 100%;
  width: 1px;
  background: linear-gradient(rgb(78, 76, 76), rgb(78, 76, 76)) no-repeat
    right/1px 60%;
}

.post-classic-miniature {
  width: 90px;
  height: 90px;
  border-radius: 5px;
  grid-area: miniature;
  align-self: center;
  margin-right: 5px;
}

.main-container.classic .post-classic-miniature {
  display: block;
}

.post-classic-miniature.text-miniature {
  background: no-repeat url(../assets/text-miniature.png);
  background-position: center center;
  background-size: contain;
}

.post-classic-miniature:not(.text-miniature) {
  background: no-repeat url(../assets/iframe-miniature.png);
  background-position: center center;
  background-size: contain;
}

.post-classic-miniature > img {
  width: 50px;
  height: 50px;
}

.post-classic-miniature > iframe,
.post-classic-miniature > video {
  display: none;
}

.main-container.classic .post-content-container {
  display: grid;
  grid-template-areas:
    "miniature title"
    "miniature info"
    "miniature footer"
    "content content";
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 100px 1fr;
}

.main-container.classic .post-title {
  grid-area: title;
}

.main-container.classic .post-content-info-bar {
  grid-area: info;
  height: fit-content;
}

.main-container.classic .post-content {
  display: none;
  grid-area: content;
}

.main-container.classic .upvote-column {
  align-self: flex-start;
  border-radius: 0;
  align-self: stretch;
  width: 4%;
  min-width: 4%;
}

.main-container.classic .post-content {
  justify-self: flex-start;
}

.main-container.classic .upvote,
.main-container.classic .downvote {
  width: 30px;
  height: 30px;
}

.main-container.classic .post-subwettit-image {
  display: none;
}
